
html, body, table{
    margin:0;
    border: 0;
}

table.top{
    border-collapse: collapse;
    text-align: left;
    line-height: 1;
}

table.top thead th{
    padding:10px;
    font-weight: bold;
    vertical-align: top;
    color:black;
    border-bottom: 3px solid rgb(142, 126, 211);
}

table.top tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: center;
    border-bottom: 1px solid #ccc;
    background: #c6ade7;
  }

table.top td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

ul.fff{
    padding:10px;
    font-weight: bold;
    vertical-align: top;
    color:black;
    border-bottom: 3px solid rgb(142, 126, 211);
    margin:5px;
}

ul.pin{
    padding:15px;
    font-size:15px;
}

ul.pong{
    padding:10px;
}

h1{
    padding:10px;
    font-weight: bold;
    vertical-align: top;
    color:black;
    border-bottom: 3px solid rgb(142, 126, 211);
    margin:5px;
}
