/* 리셋 설정 */

html,body{
    height: 100%;
    margin:0;
}
/* a태그 리셋 */
a{
    color: initial;
    text-decoration: none;
}

ul{
    /* 쩜 없애기 */
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-none{
    display: none !important; 
}

:root{
    --basic-color:#f7f7f7;
    --border-color:#dfdfdf;
    --form-color: rgb(231, 226, 250);
    --form-border-color: rgb(86, 69, 148);
}

/*------------------------------------------------------------------*/
body{
    display: flex;
    flex-direction: column;
}

.menu>ul{
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

    .menu ul{
        /* display: inline-block; */
    }

        .id-search,
        .pw-search{
            border: 1px solid #222;
            border-radius: 8px 8px 0px 0px ;
        }
        
        .id-search{
            border-bottom: 1px var(--border-color) solid;
        }
        
        .pw-search{
            border: 1px var(--border-color) solid;
            background: var(--basic-color);
            border-bottom: 1px solid #222;
        }

            .menu ul li{
                padding: 10px;
                /* padding-left: 20px; */
                height: 20px;
                line-height: 20px;
                text-align: center;
                width: 100%;
                font-size: 12px;
            }

.select{
    font-weight: bold;
    background-color: var(--form-color);
}

h2{
    font-size: 20px;
    text-align: center;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    background: var(--form-color);
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--border-color);
    margin-top: 30px;
}

form>section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

section>div{
    font-size: 14px;
    align-self: flex-start;
}

section input[type="text"],
section input[type="email"]{
    width: 70%;
    height: 10px;
    border-radius: 8px;
    border: rgba(0, 0, 0, 0.301) 2px solid;
    background: none;
    outline: none; /*클릭하면 생기는 테두리*/
    padding: 10px;
    transition: 0.2s ease-in;
}

section input[type="text"]:focus,
section input[type="email"]:focus{
    width: 90%;
    border: var(--form-border-color) 2px solid;
}



.btn{
   
}

.btn>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.btn input[type="submit"]{
    width: 160%;
    height: 35px;
    border-radius: 50px;
    border: var(--form-border-color) 2px solid;
    background: none;
    cursor: pointer;
}

.btn input[type="submit"]:hover{
    background: var(--form-border-color);
    border: var(--form-border-color) 2px solid;
    cursor: pointer;
}


