/* 리셋 설정 */

html,body{
    height: 100%;
    margin:0;
}
/* a태그 리셋 */
a{
    color: initial;
    text-decoration: none;
}

ul{
    /* 쩜 없애기 */
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-none{
    display: none !important; 
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-left: 72px;
    padding-right: 72px;
    margin-top: 20px;
}


body>section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>section>h1{
    margin: 0;
    align-self: center;
    font-size: 30px;
    margin-top: 30px;
    /* align-self:center인가 이거 주면 중앙으로 정렬됨 */
}

.id-form{
    margin-top: 0;
}

    .login-form>form,div{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    form>input{
        width: 328px;
        height: 24px;
        font-size: 14px;
    }



.btn{
   width: 336px;

   margin-top: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.search-btn{
    display: inline-block;
}
    .search-btn>input{
        height: 37px;
    }

.submit-btn{
    display: inline-block;
}

    .submit-btn>input
    {
        font-size: 14px;
        width: 70px;
        height: 37px;
    }